build/
build_cpu/
build_gpu/
__pycache__/
.ipynb_checkpoints/
blah.txt
slurm.*
logs/
experiments/

# Generated CIFAR-10 outputs and torchvision raw cache
data/*.bin
data/cifar-10-batches-py/
data/cifar-10-python.tar.gz
